In [6]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('energia.csv')
df.set_index('TIPO_DATO_CENERG')
df[['Territorio']]
# df.info()

    Territorio
0       Italia
1       Italia
2       Italia
3       Italia
4       Italia
..         ...
296   Sardegna
297   Sardegna
298   Sardegna
299   Sardegna
300   Sardegna

[301 rows x 1 columns]